{erl_opts, [debug_info]}.
{deps, [{escalus, ".*", {git, "git://github.com/esl/escalus.git", {branch, "master"}}}]}.

{relx, [{release, {mercutio, "0.0.1"},[
           mercutio,
           runtime_tools]},
        {include_erts, true}]}.

{ct_opts, [{config, "test/test.cfg"}]}.

{ xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions]}.
